:root {
  --BLUE: #6d98ef;
  --DARK_BLUE: #5782d8;
  --GREEN: #88ec8b;
  --DARK_GREEN: #7fe083;
  --ORANGE: #ffb404;
  --PINK: #ee82d1;
  --PURPLE: #8e80ef;
  --RED: #f36464;
  --YELLOW: #f0fb64;
  --WHITE: #ffffff;
  --DARK_WHITE: #f0f0f0;
  --LIGHT_BLACK: #222222;
  --BLACK: #000000;
  --DARK_BLACK: #181212;
  --LIGHT_GRAY: #d3d3d3;
  --DARK_GRAY: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
}

.section-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: #e6e6e6;
}

.section-content-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background-color: var(--WHITE);
  padding-right: 2rem;
}

.menu {
  flex-direction: column;
  background-color: var(--WHITE);
  position: absolute;
  right: 0;
  border: 1px solid var(--BLACK);
}

.section-content-main {
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-shadow: inset 0px 0px 20px 0px #00000080;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 3rem;
  padding: 1rem;
}

.card {
  min-width: 24rem;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.25rem;
  background-color: var(--WHITE);
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px #00000080;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-datetime {
  color: var(--PURPLE);
  font-size: 34px;
  font-family: NotoSans, "Noto Sans";
  font-weight: bold;
}

.alert-billings {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--ORANGE);
  border-radius: 1.5rem;
  color: var(--ORANGE);
  font-size: large;
}

.dollar-circle {
  width: 3rem;
  height: 3rem;
  border: 2px solid #12a454;
  border-radius: 1.5rem;
}

.arrow-circle {
  width: 3rem;
  height: 3rem;
  border: 2px solid #e83f5b;
  border-radius: 1.5rem;
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.card-value {
  color: var(--DARK_BLACK);
  font-size: 34px;
  font-family: NotoSans-Bold, "Noto Sans";
  font-weight: 700;
}

.card-name {
  color: var(--DARK_GRAY);
  font-size: 27px;
  font-family: NotoSans-Bold, "Noto Sans";
  font-weight: 700;
}

.graphics {
  padding: 1rem;
}

.grafico-barras {
  width: 100%;
  height: 25rem;
  background-color: var(--WHITE);
  border: 1px solid var(--BLACK);
  border-radius: 10px;
  padding: 2.5rem 2.5rem 0.5rem;
  box-shadow: 0px 3px 3px 0px #00000080;
}

.colunas {
  display: flex;
  height: 100%;
}

.escala-y {
  width: 6rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2.5rem);
  padding-right: 1rem;
  position: relative;
}

.linha {
  position: absolute;
  width: 100%;
}

.area-grafico {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.area-barras {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 5rem);
  justify-content: space-around;
  border-bottom: 1px solid var(--LIGHT_GRAY);
  position: relative;
  z-index: 1;
}

.area-barras span {
  z-index: 0;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid var(--LIGHT_GRAY);
}

.divisao {
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.barra {
  width: 5rem;
  border-radius: 4px 4px 0 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.valor-barra {
  position: relative;
  top: -2rem;
}

.nome-barra {
  position: relative;
  height: 0;
  text-align: center;
}

.escala-x {
  height: 2.5rem;
  position: relative;
}

.BLUE {
  background-color: var(--BLUE);
}
.GREEN {
  background-color: var(--GREEN);
}
.ORANGE {
  background-color: var(--ORANGE);
}
.PINK {
  background-color: var(--PINK);
}
.PURPLE {
  background-color: var(--PURPLE);
}
.RED {
  background-color: var(--RED);
}
.GRAY {
  background-color: var(--LIGHT_GRAY);
}
.YELLOW {
  background-color: var(--YELLOW);
}
