.home {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/background.jpg");
  color: white;
  font-size: 1.25rem;
}

.container {
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
  height: 15rem;
  border: 1px solid #b810d8;
  border-radius: 10%;
  background-color: #b810d824;
}

.button {
  width: 15rem;
  height: 2rem;
  border: none;
  border-radius: 7.5rem;
  color: white;
  font-size: 1rem;
}

.green {
  background-color: #15b272;
}
.pink {
  background-color: #b935c1;
}
